extends layout.pug
block common_vars
	- var authLink= authHref
	- var details=userDetail
block head
	title Concept Corner | Confirm details
	link(rel="stylesheet", href="/css/signup.css")
	script(src="/js/signup.js")

block container
	.row
		.col
			.col-8.header
				h2.header-text Confirm your details
			form.col-8.confirm-page-form(action="javascript:void(0)" method="POST" onsubmit='confirmAndSignUp(event, ' + JSON.stringify(userDetail) + ')')
				.col-4
					.col-7.profile
						input.upload-image(type="file", accept='image/*' name="uploadImage", onchange='readUrl(event)')
						img.uploaded-image(src=userDetail['avatar_url']||'/images/avatar.png', alt="",data-url='' srcset="")
						button.primary-btn.btn-uploadPic(type='button', onclick='callEvent()') Upload picture
				.col-6.details#details
					.inputBox
						input(type="text", name="username",value="" id='username'  onchange='checkUserName(this)' onfocus='addContentActive(event)',onblur='checkContent()')
						label(for="username") Username
							span.required *
						#userNameMessage
					.inputBox
						input(type="text",name="name",value=userDetail.name id='name' onchange='addContentActive(event)', onfocus='addContentActive(event)',onblur='checkContent()')
						label(for="name") Name
							span.required *
						br
					.inputBox
						input(type="text",name="emailId",value=userDetail.email, onfocus='addContentActive(event)',onblur='checkContent()')
						label(for="emailId") Email ID

						br
					.inputBox
						input(type="text", name="title",value="", onfocus='addContentActive(event)',onblur='checkContent()')
						label(for="title") Title
						br
					.inputBox
						input(type="text",name="company",value=userDetail.company, onfocus='addContentActive(event)',onblur='checkContent()')
						label(for="company") Company
						br
					.inputBox
						input(type="text",name="location", value= userDetail.location, onfocus='addContentActive(event)',onblur='checkContent()')
						label(for="location") Location
						br
					.inputBox
						textarea(name="aboutMe" onfocus='addContentActive(event)',onblur='checkContent()') #{userDetail.bio}
						label(for="aboutMe") About me
						br
					script.
						addContentActiveToAll()
					.col-7.btn
						button#confirmBtn.primary-btn(type="submit") Confirm
						a(href='/')
							button.cancel-btn(type='button') Cancel
	script.
		readImage()