extends home.pug 
block common_vars
	- var authLink= authHref
	- var pageName="Confirm Details"
	- var details=userDetails
block container
	.container
		form.confirm-page-form(action="javascript:void(0)" method="POST", onsubmit='confirmAndSignUp(event, ' + JSON.stringify(userDetails) + ')')
			.profile
				input.upload-image(type="file", accept='image/*' name="uploadImage", onchange='readUrl(event)')
				img.uploaded-image(src="/images/avatar.png", alt="",data-url='' srcset="")
				button.btn-primary(type='button', onclick='callEvent()') Submit
			.details#details
				.inputBox
					input(type="text", name="username",value="", onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="username") Username
					br
				.inputBox.content_active
					input(type="text",name="name",value=userDetails.name,onchange='addContentActive(event)', onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="name") Name
					br
				.inputBox.content_active
					input(type="text",name="emailId",value=userDetails.email, onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="emailId") Email ID
					br
				.inputBox
					input(type="text", name="title",value="", onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="title") Title
					br
				.inputBox
					input(type="text",name="company",value=userDetails.company, onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="company") Company
					br
				.inputBox
					input(type="text",name="location", value= userDetails.location, onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="location") Location
					br
				.inputBox
					textarea(name="aboutMe", cols="30", rows="10", value=userDetails.bio, onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="aboutMe") About me
					br
				.inputBox
				button.primary-btn(type="submit") Confirm
