extends home.pug
block container
	.container
		.question
			.q-title #{question.title}
			input#desc-hide(type="text" ,style="display:none", value= question.description )
			#q-desc
				script(src="/js/show.js")
			div.tags(style="margin-top: 0.5rem")
						div.tag tag1
						div.tag tag2
						div.tag tag3
			.q-detail
				.views #{question.views} Views
				.user
					.username #{question.username}
					.date#date
						script.
							let date = !{JSON.stringify(question.time)}
							document.getElementById('date').innerText = a=getDate(date);