extends layout.pug
include mixins/answerCard

block head
	title Concept Corner | #{question.title}
	link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css", rel="stylesheet")
	link(rel="stylesheet", href="/css/question.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js")
	script(src="https://cdn.quilljs.com/1.3.6/quill.js")
	script(src='/js/editor.js')

block container
	div.row
		.col.page
			.col-9.post-btn
				if user
					a(href="/postQuestion")
						.btn
							button.primary-btn Post Question
			.col-9.question
				.q-title #{question.title}
				#q-desc
				div.tags(style="margin-top: 0.5rem")
							div.tag tag1
							div.tag tag2
							div.tag tag3
				.q-detail
					.views #{question.views} Views
					.user
						.username #{question.username}
						.date(id=`${question.questionId}date`)
			.col-10.noOfAnswers #{answers.length} Answer(s)
			.col-9.answers
				each answer in answers
					+answerCard(answer)
		
		script.
			date = !{JSON.stringify(question.time)};
			id = !{JSON.stringify(`${question.questionId}date`)};
			document.getElementById(id).innerText = getDate(date);
			showDescription(!{question.description}, 'q-desc')
		