extends layout.pug
include mixins/answerCard
//- - var isAuthor = user && user.username == question.username && question.isAnswerAccepted == false
block head
	title Concept Corner | #{question.title}
	link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css", rel="stylesheet")
	link(rel="stylesheet", href="/css/question.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js")
	script(src="https://cdn.quilljs.com/1.3.6/quill.js")
	script(src='/js/postAnswer.js')

block container
	div.row
		.col.page
			.col-9.post-btn
				if user
					a(href="/postQuestion")
						.btn
							button.primary-btn Post Question
			.col-9.question
				.col-12.q-title #{question.title}
				.col-12#q-desc
				.col-12.tags
					if question.tags.length
						each tag in question.tags
							if tag.length
								tag.tag #{tag}
				.col-12.q-detail
					.col-6.views #{question.views} Views
					.col-6.user
						.username #{question.username}
						.date(id=`${question.questionId}date`)
			.col-10.noOfAnswers 
				.col-11 #{answers.length} Answer(s)
			if answers.length
			- var isAuthor = user && ((user.username == question.username) && (question.isAnswerAccepted == false))
				.col-9.answers
					each answer in answers
						+answerCard(answer, isAuthor)
			.col-9.post_answer_box
				if !user || user == 'undefined'
					h2 Login with github to post question or answer
				else
					.post-answer-editor
						h2.header-text Post your answer
						h2
						.desc
							#editor-postAnswer
						.btn
							input#h_qId(type="hidden",value=question.questionId)
							button#postAnswer-btn.primary-btn(type='button') Post Answer
						script.
							showPostAnswerEditor();
							hljs.initHighlightingOnLoad()

			
			
				
				
		
		script.
			date = !{JSON.stringify(question.time)};
			id = !{JSON.stringify(`${question.questionId}date`)};
			document.getElementById(id).innerText = getDate(date);
			showDescription(!{question.description}, 'q-desc');
			