mixin answerCard(answer, isAuthor)
	.col-12.answer-card
		.col-12.answer
			.col-11.a-detail
				.col-12.description(id=`desc-${answer.answerId}`)
				.col-12.user
					.username #{answer.username}
					.date(id=`date-${answer.answerId}`)
		.col-12.reactions
			.col-4(id=`a-${answer.answerId}`)
				.col-3
					i.up.material-icons.animated-icon thumb_up
					.count 4
				.col-3
					i.down.material-icons.animated-icon thumb_down
					.count 6
				if isAuthor
					.col-3.unchecked-answer
						i(class="material-icons", onclick='markAccepted(' + JSON.stringify(answer) + ')') check_circle_outline
				else 
					if answer.accepted 
						.col-3.checked-answer
							i.material-icons check_circle
	
	script.
		date = !{JSON.stringify(answer.time)};
		id = !{JSON.stringify(`date-${answer.answerId}`)};
		document.getElementById(id).innerText = getDate(date);
		showDescription(!{answer.answer}, !{JSON.stringify(`desc-${answer.answerId}`)})
		updateVotes(!{answer.answerId})