mixin answerCard(answer, isAuthor, user)
	.col-12.answer-card(id=`answer-${answer.answerId}`)
		if user.username == answer.username
			i.material-icons.delete-answer-icon(onclick="confirmDeleteAnswer("+JSON.stringify(answer)+")") delete
		.col-12.answer
			.col-11.a-detail
				.col-12.description(id=`desc-${answer.answerId}`)
				.col-9.user
					.col-12.username
						a.user-profile-link(href=`/profile/${answer.username}`) #{answer.username}
					.col-12.date(id=`date-${answer.answerId}`)
			.col-12.comments(id=`comment-${answer.answerId}`)
			if user
					.col-3.btn
						button.post-comment-btn.primary-btn(onclick="showAnswerCommentContainer("+ answer.answerId +")") Add comment
					.col-12.post-comment-container
						.col-9.comment-box
							textarea.col-10#comment-text(name="")
							.col-2.btn.add-comment-btn
								input#h_qId(type="hidden",value=question.questionId)
								button#post-comment-btn.primary-btn(type='button' onclick='addAnswerComment('+ answer.answerId+')') Add comment
								a(href=`/question/${question.questionId}`)
								button.cancel-btn(type='button' onclick= "hideAnswerCommentContainer("+ answer.answerId +")") Cancel
		.col-12.reactions
			.col-4(id=`a-${answer.answerId}`)
				.col-3
					i.up.material-icons  thumb_up
					.count #{answer.upVote}
				.col-3
					i.down.material-icons thumb_down
					.count #{answer.downVote}
				if isAuthor
					.col-3.unchecked-answer
						i(class="material-icons", onclick='markAccepted(' + JSON.stringify(answer) + ')') check_circle_outline
				else 
					if answer.accepted 
						.col-3.checked-answer
							i.material-icons check_circle
	if user
		script.
			attachListenerVoteIcons(!{answer.answerId})
	script.
		date = !{JSON.stringify(answer.time)};
		id = !{JSON.stringify(`date-${answer.answerId}`)};
		document.getElementById(id).innerText = moment(date).utc().fromNow();
		showDescription(!{answer.answer}, !{JSON.stringify(`desc-${answer.answerId}`)})
		updateVoteIcons(!{answer.answerId})
		showAnswerComments(!{answer.answerId})