mixin navigationBar(authHref,user)
	div.nav
		a(href="/")
			div.logo
				img(src="/images/logo_transparent.png", alt="Concept Corner", srcset="")
		div.list
			.navInfo
				if authHref
					if !user || user == 'undefined'
						.navLink
							a(href=authHref) Log in
						.navLink
							a(href=authHref) Sign up
					else
						.userImage
							img(src=user.profilePic|| '/images/avatar.png', href='/profile' alt="", srcset="")
						.navLink
							a(href=`/user/profile/${user.username}`) #{user.username}
						.navLink
							a.logout(href='/user/logout') Logout