mixin questionCard(question)
	- var date = question.time
	.col-8.question-card
		div.col-12.question-head 
			a(href=`/question/${question.questionId}`)
				h3 #{question.title}
		div.col-12.description 
			.col-12.tags
				.col-1
					.tag tag1
				.col-1
					.tag tag2
				.col-1
					.tag tag3
		div.col-12.question-details
			.col-6.question-addones
				.col-12.date(id=`${question.questionId}date`)
				.col-12.popularity
					.col-3.view #{question.views} Views
					.col-3.response #{question.noOfAnswers} Answer(s)
			.col-5.askedBy 
				img(src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80", height=100, width=100, alt="alt")
				div #{question.username}
				script.
					date = !{JSON.stringify(question.time)};
					id = !{JSON.stringify(`${question.questionId}date`)};
					document.getElementById(id).innerText = getDate(date);